body{
    font-family: 'Poppins', sans-serif;
}
/* top banner */
.top-layout{
    background-color:#2d25a0 ;
    display: flex;
    justify-content: space-evenly;
    border-left: 1px solid #2D25A0;
}


.top-banner img{
width: 400px;
height: 350px;
}
.top-banner:hover img{
    transform:scale(1.2);
}
.bar-title h1{
    color: white;

}
.top-color{
    background-color:#E02C6D;
    color: white;
    padding: 7px 14px;
    font-size:14px;
}
.top-layout,.top-banner{
    border: 1px solid #2D25A0;

}

/* top banner end */



/* plauers style */
.container{
    background-color: #FFFFFF;
    margin-top: 20px;
    padding-left: 8%;
    }
.players{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    align-items: center;
    
}
.player{
    padding: 20px;
    box-shadow: 10px 10px 20px grey;
    margin-top: 15px;
    width: 400px;
}
.players .player-banner img{
    width:200px;
    height: 156px;
    padding-left: 20%;
    border-radius: 10px;
}
.player-title{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.player-author{
    font-size: 10px;
    color: gray;
    text-align: justify;
}
/* second section */
.container-2{
    background-color: #FFFFFF;
    margin-top: 50px;
    padding-left: 8%;
}
.thumnail{
    display: flex;
    justify-content: space-evenly;

}
#watch-now{
    background-color:#E02C6D;
    color: white;
    padding: 7px 14px;
    font-size:14px;

}

.thumnail-banner img{
    width: 350px;
    height: 250px;
    border-radius: 10px;



}
/* third-container */
.logo-banner img{
    width: 450px;
    height: 250px;
    margin-left: 33%;
}
.social{
    font-size: 30px;
    margin-left: 42%;
    color: wheat;
}
.copyright{
    margin-left: 42%;
}
 /* media query */
  
 /*----------------
 mobile device 
  *****************/
  @media only screen and (max-width: 688px){
      .top-layout, .container, .container-2, .container-3{
          width: 100%;
      }
      .players, .thumnail{
          grid-template-columns: repeat(1, 1fr);
      }
  }
/* tab device */
@media only screen and (min-width: 688px) and (max-width: 992px){
    .players, .thumnail{
        grid-template-columns: repeat(2, 1fr);

}





